NODE_ENV=development
PORT=3000
DATABASE_URL="postgresql://user:password@localhost:5432/emr_service"
OPENMRS_BASE_URL=http://localhost:8080/openmrs/ws/rest/v1
OPENMRS_USERNAME=admin
OPENMRS_PASSWORD=
OPENMRS_LOCATION_UUID=
OPENMRS_IDENTIFIER_TYPE_UUID=
OPENMRS_ENCOUNTER_TYPE_UUID=
OPENMRS_PROVIDER_UUID=
OPENMRS_ENCOUNTER_ROLE_UUID=
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
GEMINI_API_KEY=
AT_API_KEY=
AT_USERNAME=
AT_SENDER_ID=
REMINDER_CONFIRM_TIMEOUT_HOURS=4
REMINDER_LIFESTYLE_ADHERENCE_THRESHOLD=50
ALLOWED_ORIGINS=http://localhost:8000
